@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-hsl: 0, 0%, 0%;
    --background-hsl: 192, 16%, 85%;
  }

  .dark {
    --foreground-hsl: 0, 0%, 100%;
    --background-hsl: 0, 0%, 0%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Cal Sans";
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
